geth_wx4e/gethdata
geth_wx4en/gethdata
geth_wx4eq/gethdata
geth_wx4er/gethdata
geth_wx4ep/gethdata
geth_wx4e_sdl/gethdata

passengers_info*
vehicles_info*
log_*
wx4e*addPeer.js
vehicle_err*
vehicle_result*
passengers_err*
passengers_result*
